.Button {
  background-image: url("../../assets/fondo-1a.png");
  opacity: 0.85;
  width: 150px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 25px;
  -webkit-text-stroke: 0.5px rgb(245, 245, 245);
  color: white;
}
.Button:hover{
  color:black
}

.grid {
  margin: 2rem;
}
