#creditosScreen {
  position: absolute;
  width: 1440px;
  height: 2180px;
  left: 0px;
  top: 0px;
  background-color: #173040;
  background-image: url("../assets/images/creditos_background.png"); 
  z-index: 2000;
  pointer-events: none;
  mix-blend-mode: hue;
  
  /* font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 25px; */

  /* or 119% */

  /* A-/principal/(A4) principal */

}
