#fragments-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    mix-blend-mode: color-burn;
    opacity: 0.4;
    z-index: 2000;
    pointer-events: none;
    background-image: url("../assets/images/fragments_background.png");
    background-repeat: repeat;
    background-size: cover;
}