#canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

#home-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    mix-blend-mode:difference;
    overflow: hidden;
    pointer-events: none;
    background-size: cover;
    background-position: bottom center;
}

#home-logo-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    z-index: 20;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    color: #57508d;
}

#home-logo {
    position: relative;
    width: clamp(200px, 70vw, 550px);
    top: 20px;
    opacity: 0.9;
}

#home-logo-text {
    font-family: Ampersand;
    font-size: clamp(16px, 5vw, 30px);
    color: #4E7329;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    top: 40px;
}

#home-logo-text h1 {
    margin-top: 10px;
}