#canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

body {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    mix-blend-mode: normal;
    background-color: #CBD8DF;
    overflow: hidden;
}

#home-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    mix-blend-mode: color-burn;
    opacity: 0.4;
    z-index: 2000;
    pointer-events: none;
    background-image: url("../assets/images/home_background.png");
    background-repeat: repeat;
    background-size: cover;
}

#home-logo-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 40px;
    top: 40px;
    padding-left: 40px;
}

#home-logo {
    position: relative;
    width: clamp(200px, 70vw, 500px)
}

#home-logo-text {
    font-family: Ampersand;
    font-size: clamp(16px, 5vw, 30px);
    color: #4E7329;
    text-align: center;
    margin: 0;
    padding: 0;
}

#home-logo-text h1 {
    margin-top: 10px;
}