:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: Ampersand;
  src: url("/ampersand.ttf") format("truetype");
}

@font-face {
  font-family: "Gloria Hallelujah";
  src: url("/GloriaHallelujah.ttf") format("truetype");
}