#Container {
  background-image: url("../../../assets/fondos-10\ 1.png");
}
#profundidad-background{
position: absolute;
width: 1295px;
height: 2180px;
left: 21px;
top: 20px;
mix-blend-mode: soft-light;
  background: url("../../../assets/images/profundidad_background.png")  center center fixed;
}
.HuellasDeAgua {

  width: 622px;
  height: 1318px;
  left: 177px;
  top: 1034px;

  /* cuerpo de texto */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  /* or 119% */

  /* A-/fondo/(A1) fondo */

  color: #E9EFF2;
}
