#profundidad-background {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  mix-blend-mode: soft-light;
  opacity: 0.9;
  background-image: url("../../../assets/images/profundidad_background.png");
  z-index: 2000;
  pointer-events: none;
}




.HuellasDeAgua {
  margin-bottom: 20px;
  /* cuerpo de texto */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  /* or 119% */

  /* A-/fondo/(A1) fondo */

  color: #e9eff2;
}

@media (min-width: 768px) {
  .HuellasDeAgua {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
