#profundidad-background {
  position: absolute;
  width: 1315px;
  height: 2190px;
  left: 0px;
  top: 0px;
  mix-blend-mode: soft-light;
  opacity: 0.9;
  background-image: url("../../../assets/images/profundidad_background.png");
  z-index: 2000;
  pointer-events: none;
}
.HuellasDeAgua {
  width: 622px;
  height: 1318px;
  left: 177px;
  top: 1034px;
  margin-bottom: 20px;
  /* cuerpo de texto */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  /* or 119% */

  /* A-/fondo/(A1) fondo */

  color: #e9eff2;
}
